node_modules
.pnpm-store
dist
.next
.turbo
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel
.railway
*.tsbuildinfo
prisma/*.db
prisma/*.db-journal
uploads
backups
.cache
out
build
.swc
playwright-report
test-results
.idea
.vscode/*
!.vscode/extensions.json
*.pem
secrets/
